@model Dismissal

<form asp-action="EmployeeDismissal">
    <div class="mb-5 mt-5 row justify-content-center">
        <h1 class="text-center">Приказ об увольнении</h1>
    </div>
    <hr />
    <input type="hidden" asp-for="EmployeeId" />
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="form-group">
                <label asp-for="DateOfPreparation" class="control-label"></label>
                <input type="date" asp-for="DateOfPreparation" class="form-control" />
                <span asp-validation-for="DateOfPreparation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfDismissal" class="control-label"></label>
                <input type="date" asp-for="DateOfDismissal" class="form-control" />
                <span asp-validation-for="DateOfDismissal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mt-5 col-2">
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-block btn-outline-primary" />
            </div>
        </div>

    </div>
    <div class="row justify-content-center">
        <a asp-action="Index">Отмена</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
