@model IEnumerable<HumanResourcesDepartment.Models.Employee>

<div class="list-group" id="list-tab" role="tablist">
    @foreach (var item in Model)
    {
        <a onclick="getEmployeeInfo(@item.Id)" class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" role="tab">@item.Surname @item.FirstName @item.Patronymic</a>
    }
</div>