@model IEnumerable<HumanResourcesDepartment.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-3">
        <span>Сотрудники</span>
        <select id="employeesList" class="w-100" multiple onchange="getEmployeeInfo()">
            @foreach (var item in Model)
            {
                <option value="@item.Id">
                    @item.GetFullName()
                </option>
            }
        </select>
    </div>
    <div class="col-9">
        <div id="employeeInfoBlock" class="row">
            <div class="col-3">
                we
            </div>
            <div class="col-9">
                we
            </div>
        </div>
    </div>
</div>