@model IEnumerable<HumanResourcesDepartment.Models.Employee>

<div class="row h-100">
    <div class="col-3">
        <form id="searchForm">
            <div class="input-group mb-2 w-100">
                <input name="searchString" type="text" class="form-control" placeholder="Поиск">
                <div class="input-group-btn">
                    <button onclick="search()" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input name="showDismissed" onchange="search()" checked value="true" type="checkbox" class="form-check-input" id="dismissedCheckbox">
                    <label class="form-check-label" for="dismissedCheckbox">Показывать уволенных</label>
                </div>
            </div>
            <div class="bg-light" id="employeesListBlock">
                <div class="list-group" id="list-tab" role="tablist">
                    @foreach (var item in Model)
                    {
                        <a onclick="getEmployeeInfo(@item.Id)" class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" role="tab">@item.Surname @item.FirstName @item.Patronymic</a>
                    }
                </div>
            </div>
        </form>
    </div>
    <div class="bg-light col-9">
        <div id="employeeInfoBlock" class="row justify-content-around">
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
</div>