@model HumanResourcesDepartment.ViewModels.LoginViewModel

<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="mb-5 mt-5 row justify-content-center">
                <h1 class="text-center">Вход в приложение</h1>
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label><br />
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="mt-5 col-2">
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-outline-primary btn-block" />
            </div>
        </div>
    </div>
</form>