<div class="row justify-content-center">
    <div class="col-4">
        <a class="btn btn-block" asp-controller="Employees" asp-action="Index">Список сотрудников</a>
        <a class="btn btn-block" asp-controller="TimeSheets" asp-action="Index">Составить табель рабочего времени</a>
        <a class="btn btn-block" asp-action="History">История действий</a>
        <a class="btn btn-danger btn-block" asp-controller="Employee" asp-action="Index">Выйти</a>
    </div>
</div>