<div class="mb-5 mt-5 row justify-content-center">
    <h1 class="text-center">Составление итогового табеля рабочего времени</h1>
</div>

<hr />

<div class="row justify-content-center">
    <form id="timeSheetDateForm">
        <div class="form-inline">
            <select class="form-control" id="month" onchange="dateOfTimeSheetChangeListener()" name="Month">
                <option selected value="0">месяц</option>
                <option value="1">январь</option>
                <option value="2">февраль</option>
                <option value="3">март</option>
                <option value="4">апрель</option>
                <option value="5">май</option>
                <option value="6">июнь</option>
                <option value="7">июль</option>
                <option value="8">август</option>
                <option value="9">сентябрь</option>
                <option value="10">октябрь</option>
                <option value="11">ноябрь</option>
                <option value="12">декабрь</option>
            </select>
            <select class="form-control ml-1 mr-1" id="year" onchange="dateOfTimeSheetChangeListener()" name="Year">
                <option value="0">год</option>
                @for (int year = 2019; year <= DateTime.Now.Year; year++)
                {
                    <option value="@year">@year</option>
                }
            </select>
            <button onclick="getTimeSheets()" id="timeSheetDateSubmitBtn" type="button" class="btn btn-outline-primary" disabled>выбрать</button>
        </div>
    </form>
</div>

<div id="timeSheetsBlock" class="row">

</div>
